<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Cindy &amp; Anton's Wedding Guests</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <div id="content">
        <a href="/guest/create">Add Guest</a>
        <h1>Completed</h1>

        <h2><%= ceremonyguests.length %> Attending Ceremony</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Ceremony</th>
              <th>Reception</th>
              <th>Dietary Restrictions</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <% ceremonyguests.forEach(function(guest) { %>
              <tr>
                <td><a href="/guest/<%= guest.id %>"><%= guest.name %></a></td>
                <td><%= guest.code %></td>
                <td><%= guest.attending_ceremony %></td>
                <td><%= guest.attending_reception %></td>
                <td><%= guest.dietary_restriction %></td>
                <td><%= guest.updated_at %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <br/>
        <h2><%= receptionguests.length %> Attending Reception</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Reception</th>
              <th>Ceremony</th>
              <th>Dietary Restrictions</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <% receptionguests.forEach(function(guest) { %>
              <tr>
                <td><a href="/guest/<%= guest.id %>"><%= guest.name %></a></td>
                <td><%= guest.code %></td>
                <td><%= guest.attending_reception %></td>
                <td><%= guest.attending_ceremony %></td>
                <td><%= guest.dietary_restriction %></td>
                <td><%= guest.updated_at %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <br/>

        <h1>Uncompleted</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <% uncompletedguests.forEach(function(guest) { %>
              <tr>
                <td><a href="/guest/<%= guest.id %>"><%= guest.name %></a></td>
                <td><%= guest.code %></td>
                <td><%= guest.updated_at %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div> <!-- /container -->

  </body>
</html>
